body {
	background: #dfb017;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #c4b554, #073ae3f0);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #a79f52, #827305); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	color: white;
}

h1 {
	padding-top: 20px;
	padding-bottom: 20px;
}

#output {
	color: white;
}

td {
	color: white;
}

th {
	color: white;
}

